<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic_layout">



<head>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>

<th:block layout:fragment="content">
    <section>


        <div class="container">
            <div>
                <img th:src="@{/img/instar.png}" width="500px" height="300px" style="margin-bottom: 50px">
            </div>
            <form th:action="@{signin}" method="post" th:object="${userEntity}">
                <div><input type="email" th:field="*{email}" placeholder="email" autofocus required></div>
                <div><input type="password" th:field="*{pw}" placeholder="password" required></div>
                <div>
                    <input type="submit" value="Log In">
                </div>
            </form>
            <div>
                <a th:href="@{signup}">Sign Up</a>
            </div>
            <div class="icon">
                <a th:href="@{/oauth2/authorization/naver}"><img th:src="@{/img/naver.png}" width="50px" height="50px" style="margin-bottom: 50px"></a>
                <a th:href="@{/oauth2/authorization/kakao}"><img th:src="@{/img/kakao.png}" width="50px" height="50px" style="margin-bottom: 50px"></a>
                <a th:href="@{/oauth2/authorization/google}"><img th:src="@{/img/google.png}" width="50px" height="50px" style="margin-bottom: 50px"></a>
                <a th:href="@{/oauth2/authorization/facebook}"><img th:src="@{/img/facebook.png}" width="50px" height="50px" style="margin-bottom: 50px"></a>
            </div>
        </div>
    </section>

</th:block>

</html>